In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("athletes_v2.csv")
df.head(2)

,region,gender,age,height,weight,candj,snatch,deadlift,backsq,eat,background,experience,schedule,howlong,total_lift
0,South East,Male,35,69,192,295,225,465,400,I eat quality foods but don't measure the amount|,I played youth or high school level sports|I p...,I began CrossFit by trying it alone (without a...,I do multiple workouts in a day 3+ times a week|,4+ years|,1385
1,Latin America,Male,27,68,164,254,187,397,397,I weigh and measure my food|I eat strict Paleo|,I played youth or high school level sports|I p...,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 3+ times a wee...,2-4 years|,1235

In [3]:
# Create mapping for gender column
gender_mapping = {'Male': 0, 'Female': 1, '--': 1}

# Apply mapping to create new column in both datasets
df['upd_gender'] = df['gender'].map(gender_mapping)

In [4]:
# Create mapping for howlong column with partial matching
def map_howlong(value):
    if '4+ years' in value:
        return 4
    elif '2-4 years' in value:
        return 3
    elif '1-2 years' in value:
        return 2
    elif '6-12 months' in value:
        return 1
    elif 'Less than 6 months' in value:
        return 0
    else:
        return None

# Apply mapping to create new column in both datasets
df['upd_howlong'] = df['howlong'].apply(map_howlong)

In [5]:
# Calculate BMI (weight in lbs, height in inches)
df['BMI'] = (df['weight'] / (df['height'] ** 2)) * 703

# Calculate relative lifts (lift / bodyweight)
rel_lifts = ['candj', 'snatch', 'deadlift', 'backsq']
for lift in rel_lifts:
    df[f'{lift}_rel'] = df[lift] / df['weight']

In [6]:
df = df[['upd_gender', 'upd_howlong', 'BMI', 'candj_rel', 'snatch_rel', 'deadlift_rel', 'backsq_rel', 'age', 'weight','total_lift']]

In [7]:
df.head(2)

,upd_gender,upd_howlong,BMI,candj_rel,snatch_rel,deadlift_rel,backsq_rel,age,weight,total_lift
0,0,4,28.350347,1.536458,1.171875,2.421875,2.083333,35,192,1385
1,0,3,24.933391,1.548780,1.140244,2.420732,2.420732,27,164,1235

In [8]:
df.to_csv("processed_athletes.csv", index=False)